@media (max-width: 1200px) {
    .container {
        width: 900px;
    }
}

@media (max-width: 992px) {
    .container {
        width: 700px;
    }

    .promo h1 {
        font-size: 85px;
    }

    .tour_grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .container {
        width: 500px;
    }

    .promo {
        height: 573px;
    }

    .promo h1 {
        font-size: 58px;
        line-height: normal;
    }

    .menu {
        position: fixed;
        top: 0;
        bottom: 0;
        left: -100%;
        background-color: rgba(0, 0, 0, 0.701);
        backdrop-filter: blur(5px);
        flex-direction: column;
        padding: 50px;
        transition: 300ms;
    }

    .menu.open {
        left: 0;
    }

    .hamburger {
        display: flex;
        flex-direction: column;
        gap: 5px;
        background: none;
        border: none;
    }

    .hamburger span {
        width: 40px;
        height: 5px;
        background: white;
        border-radius: 10px;
    }


    .tour_grid, .excurs_grid {
        grid-template-columns: 1fr;
    }

    .white_box, .excurs_desc {
        width: 100%;
    }

    .gallery_grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 186px 194px 260px;
        gap: 20px;
    }

    .gallery_grid img:nth-child(1n) {
        grid-column: auto;
        grid-row: auto;
    }

    .gallery_grid img:nth-child(1) {
        grid-column: 1;
        grid-row: 1/3;
    }

    .gallery_grid img:nth-child(4) {
        grid-column: 1/3;
    }

    .gallery_grid img:nth-child(1n + 5) {
        display: none;
    }



}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 20px;
    }

    .promo h1 {
        font-size: 36px;
    }

    .tour_head a {
        display: none;
    }

    .white_box {
        padding: 43px;
        font-size: 13px;
    }
}